@import '../../common/css/rem';
@import '../../common/css/const';
.page{
  width: 100%;
  height: rem(1700);
  background-size: 100% 100%;
  background-image: url("../../image/activitedRule.png");
  .t-index{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: rem(50);
    .title{
      width: 100%;
      height: rem(57);
      background-size: 100% 100%;
      background-image: url("../../image/activitedRuletitle.png");
      color: #940000;
      font-size: rem(28);
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: rem(1);
    }
  }
  .attention{
    margin: 0 rem(50) 0 rem(50);
    background: #B50016;
    border-radius: rem(7);
    height: rem(1230);
    overflow: scroll;
    .atten.bg{
      background: #B50016 !important;
    }
    .atten{
      padding:rem(10);
      background: #9D0006;
      border-bottom: rem(1) dashed #FEF1C8;
      .tTitle{
        color: #FFFFFF;
        font-size: rem(28);
        font-weight: bold;
        line-height: rem(50);
        text-align: center;
      }
      p{
        color: #FEF1C8;
        font-size: rem(28);
        font-weight: bold;
        line-height: rem(40);
        letter-spacing: rem(2);
        text-align: center;
      }
    }

  }
  .Img{
    margin-top: rem(-30);
    display: flex;
    align-items: center;

    .img1{
      width: rem(294);
      height: rem(245);
    }
    .img2{
      width: rem(113);
      height: rem(56);
      margin-left: rem(200);
    }

  }
}


